@import "../../styles.scss";

.c-sort {
    position: relative;
}

.sort__wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.sort__list {
    position: absolute;
    right: 65px;
    font-weight: 500;
    font-size: rem(12px);
    line-height: 15px;
    letter-spacing: 0.06em;
    background: #fff;
    & .sort__item {
        padding: 16px 24px;
    }
}

.active {
    background: $backgroundBtn;
}

.sort__active {
    letter-spacing: 0.06em;

    &::after {
        content: "";
        display: inline-block;
        border: 4px solid transparent;
        border-top: 5px solid $color-black;
        margin-left: 5px;
        margin-bottom: -2px;
    }
}