@import "../../styles.scss";

.item {

    &__img {
        width: 100%;
    }

    &__name {
        font-weight: 300;
        line-height: rem(18px);
        padding: 16px 0;
        letter-spacing: 0.02em;
    }
    
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-price {
            font-weight: 600;
        }
        &-btn {
            background: $backgroundBtn;
            padding: 6px 30px;
            border-radius: 8px;
            transition: .3s;
            opacity: 0;
        }
    }

    &:hover {
        & .item__footer-btn {
            display: block;
            opacity: 1;
        }
    }
}

.item__footer-icon {
    height: 20px;
    width: 20px;
    stroke-width: 2px;
}

@include small-width {
    .item {      
        &__footer {
            &-btn {
                background: #F2F2F2;
                padding: 4px 12px;
                border-radius: 8px;
                transition: .3s;
                opacity: 1;
                & .item__footer-icon {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

}