@import "../../styles.scss";

.c-header {
    display: flex;
    align-items: center;
    & .logo {
        margin-right: 9.5%;
        &__icon {
            width: rem(131px);
            height: rem(26px);
        }
    }

    & .nav {
        padding: 0;
        flex-grow: 1;
        &__list {
            display: flex;
            align-items: center;
            white-space: nowrap;
        }
        &__item {
            margin-right: rem(24px);
            &:last-child {
                margin-right: 0;
            }
        }
        &__link {
            font-family: 'Inter';
            font-size: rem(14px);
            font-weight: 400;
            color: $color-black;
            text-transform: uppercase;
            letter-spacing: 0.06em;
        }
    }

    & .contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        line-height: rem(16px);
        white-space: nowrap;
        margin-right: 6.5%;
        &__phone {
            font-weight: 500;
            letter-spacing: -0.02em;
        }
        &__btn {
            font-size: rem(14px);
            opacity: 0.3;
        }
    }

    & .icons {
        margin-left: auto;
        &__list {
            display: flex;
            align-items: center;
        }
        &__item {
            margin-right: rem(24px);
            &:last-child {
                margin-right: 0;
            }
        }
        &__icon {
            width: rem(22px);
            height: rem(22px);
        }
        &__basket {
            border-radius: 50%;
            min-width: rem(24px);
            min-height: rem(24px);
            background: $backgroundBtn;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            font-size: rem(12px);
        }
    }
    
}