@import "../../styles.scss";

.header {
    padding: rem(36px) 0;
}

.swiper {
    margin-bottom: rem(72px);
}

.swiper-button-next {
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s;
    width: 80px;
    height: 80px;
    z-index: 2;
    top: 59%;
    right: 20.5%;
    &::after {
        content: "";
        border: 2px solid #FFFFFF;
        width: 29px;
        height: 30px;
        border-width: 2px 0 0 2px;
        transform: rotate(135deg);
        display: block;
    }
}

.swiper-button-prev {
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s;
    width: 80px;
    height: 80px;
    z-index: 2;
    top: 59%;
    left: 20.5%;
    &::after {
        content: "";
        border: 2px solid #FFFFFF;
        width: 29px;
        height: 30px;
        border-width: 2px 0 0 2px;
        transform: rotate(315deg);
        display: block;
    }
}

.swiper-button-disabled {
    opacity: 0;
    z-index: -1;
}

.swiper .swiper-pagination {
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    padding: 13px 24px;
    display: flex;
    align-items: center;
    bottom: rem(39px);
}

#swiper .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin: 0;
    background: #FFFFFF;
    margin: 0 8px 0 0;
    opacity: 0.2;
    &:last-child {
        margin-right: 0;
    }
}

#swiper  .swiper-pagination-bullet-active {
    opacity: 1;
}