@import "../../styles.scss";

.c-settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.settings__count {
    text-transform: uppercase;
    letter-spacing: 0.06em;
}